/* color harmony */
.color {
  color: #1f2430;
  color: #f4eeec;
  color: #dedbd0;
  color: #ffece4;
}
/* Font from google font */
@import url("https://fonts.googleapis.com/css?family=Righteous");

/* OBS!---------------MOBILE FIRST---------------- */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Mobile first  */

body {
  padding: 0;
  background: #ffece4;
  font-family: "Righteous", cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#backToTop {
  position: fixed;
  color: #1f2430;
  border: none;
  font-size: 50px;
  margin: 0;
  padding: 0;
  right: 50px;
  bottom: 60px;
  width: 40px;
  height: 40px;
}



.header-img {
  background-image: url(../image/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vmin;
  width: 100%;
  position: relative;
  z-index: -10;
}

#mySearch {
  width: 80%;
  height: 3rem;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 180px;
  left: 10%;
  border: none;
}

h2,
h1 {
  color: #1f2430;
  text-align: center;
}

#h1 {
  position: absolute;
  top: 230px;
  text-align: center;
  left: 0;
  right: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  top: 100px;
}

.items {
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
}

li {
  list-style: none;
}






/* The flip card container  */
.flip-card {
  background-color: transparent;
  width: 150px;
  height: 220px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #1f2430;
  color: white;
  transform: rotateY(180deg);
  display: grid;
}

/* End of the flip card container  */






#h2 {
  position: relative;
  top: 250px;
  padding-bottom: 300px;
  font-size: 3em;
}

#h3 {
  position: relative;
  top: 20px;
  font-size: 3em;
}
#how-work-sec {
  margin: 0;
  top: 25rem;
}

.stage {
  width: 100%;
  top: 50px;
}

.stage-img {
  width: 80%;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.stage-tex {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 50%;
  color: #1f2430;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}



#about-us {
  margin: 0;
  top: 25rem;
}

.about-us-block {
  display: flex;
  width: 90%;
  top: 0px;
  margin: 0 auto;
}


.about-us-tex {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  color: #1f2430;
  padding-bottom: 20px;
}


footer {
  background-color: #1f2430;
  width: 100%;
  position: relative;
  top: 40%;
  color: #dedbd0;
  text-align: center;
  font-size: 0.8em;
}


button {
  background-color: #ffece4;
  font-family: "Righteous", cursive;
  cursor: pointer;
}

.takeMe {
  background-color: #dedbd0;
  color: #1f2430;
  font-family: "Righteous", cursive;
  cursor: pointer;
  text-decoration: none;
}

#back-h1 {
  color: #ffece4;
}




/* form mobil start here*/




#h1-form{
  
    position: absolute;
    top: 10px;
    text-align: left;
    padding-left: 30px;
    left: 0;
    right: 0;
    font-size: 2em;
    color: #dedbd0;
  
}

.back{
position: relative;
top: 20px;
padding-bottom: 20px;
text-align:center ;
}


 .back a{

text-decoration: none;
color: #1f2430;
font-size: 1.2em;
}


#rubrik1,
#rubrik2 {
  position: relative;
  text-align: center;
  color: #1f2430;
}

#rubrik1 {
  top: 5px;
}
#form1,
#form2 {
  position: relative;
  width: 96%;
  margin: 0 2%;
}
#item1,
#item2,
#item3,
#item4,
#item5,
#item6,
#item7,
#item8,
#item9,
#item10,
#item11,
#item12,
#item13,
#item14,
#item15,
#item16 {
  padding: 5px;
}
label {
  color: #1f2430;
}
input {
  width: 100%;
  padding: 7px;
}

#form1 {
  top: 20px;
}
#rubrik2 {
  top: 30px;
}
#form2 {
  top: 150px;
}
#item16 {
  display: flex;
}
#item15 #invoice {
  width: auto;
  cursor: pointer;
}
#item16 #order {
  margin-left: auto;
  width: 70px;
  background-color: #1f2430;
  color: white;
  border-radius: 10px;
  font-family: "Bangers", cursive, Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

#text0 {
  
  position: relative;
  top: 200px;
  width: 90%;
  margin: 0 auto;
}

/* End of form mobil */



@media (min-width: 768px) {



  /* -------------DESKTOP VERSION--------------- */

  #backToTop {
    position: fixed;
    color: #1f2430;
    border: none;
    font-size: 50px;
    margin: 0;
    padding: 0;
    right: 50px;
    bottom: 60px;
    width: 40px;
    height: 40px;
  }

  

  .header-img {
    height: 40vmin;
    top: 0px;
  }

  #mySearch {
    width: 60%;
    height: 4rem;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 220px;
    left: 20%;
    font-size: 1.5em;
  }

  #h1 {
    position: absolute;
    top: 50px;
    text-align: left;
    padding-left: 30px;
    left: 0;
    right: 0;
    font-size: 3em;
    color: #dedbd0;
  }



  #myMenu {
    width:40% ;
    margin-left: 300px;
    
  }

  .container > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding-bottom: 80px;
    width: 0;
    z-index: -1;
    
  }

  /* ----------Flip card start here--------- */

  /* The flip card container  */
  .flip-card {
    background-color: transparent;
    width: 150px;
    height: 220px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: #1f2430;
    color: white;
    transform: rotateY(180deg);
    display: grid;
  }

  /* ----------Flip card end here--------- */



  #h2 {
    position: relative;
    top: 100px;
    font-size: 4em;
    padding-bottom: 100px;
  }

  #h3 {
    position: relative;
    padding-bottom: 80px;
    font-size: 3em;
  }
  #how-work-sec {
    margin: 0 10%;
    top: 18rem;
    display: flex;
    justify-content: center;
    padding-left: 150px;
  }

  .stage {
    width: 60%;
    top: 50px;
  }

  .stage-img {
    width: 60%;
    margin: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }

  .stage-tex {
    width: 60%;
    margin: 0;
    padding-top: 20px;
    border-radius: 50%;
    color: #1f2430;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }


  #about-us {
    margin: 0;
    top: 25rem;
  }
  
  .about-us-block {
    display: flex;
    width: 90%;
    top: 0px;
    margin: 0 auto;
  }
  
  
  .about-us-tex {
    
    width: 65%;
    margin: 0 auto;
    padding-top: 20px;
    color: #1f2430;
    padding-bottom: 20px;
  }

  
  footer {
    background-color: #1f2430;
    width: 100%;
    position: relative;
    top: 40%; 
    color: #dedbd0;
    text-align: center;
    font-size: 0.8em;
  }




  /**** form start ****/





  #h1-form {
    position: absolute;
    top: 50px;
    text-align: left;
    padding-left: 30px;
    left: 0;
    right: 0;
    font-size: 3em;
    color: #dedbd0;
  }

  #form1,
  #form2 {
    width: 40%;
    margin: auto;
    height: auto;
    padding: 10px;
    display: grid;
    gap: 10px;
  }

  #rubrik1 {
    top: 20px;
  }
  #rubrik2 {
    top: 80px;
  }
  #form1 {
    top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "cell1 cell2" "cell3 ." "cell4 cell4" "cell5 cell5" "cell6 cell7" "cell8 ." "cell9 ."
      "cell10 cell11";
  }
  #item1 {
    grid-area: cell1;
  }
  #item2 {
    grid-area: cell2;
  }
  #item3 {
    grid-area: cell3;
  }
  #item4 {
    grid-area: cell4;
  }
  #item5 {
    grid-area: cell5;
  }
  #item6 {
    grid-area: cell6;
  }
  #item7 {
    grid-area: cell7;
  }
  #item8 {
    grid-area: cell8;
  }
  #item9 {
    grid-area: cell9;
  }
  #item10 {
    grid-area: cell10;
  }
  #item11 {
    grid-area: cell11;
  }

#form2 {
  top: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "cell12" "cell13" "cell14" "cell15" "cell16";
}
#item12 {
  grid-area: cell12;
}
#item13 {
  grid-area: cell13;
}
#item14 {
  grid-area: cell14;
}
#item15 {
  grid-area: cell15;
}
#item16 {
  grid-area: cell16;
}

#text0 {
  
  position: relative;
  top: 50px;
  width: 40%;
  margin: 0 auto;
  
}

.back{
  position: fixed;
  top: 500px;
  left: 50px;
  
  
  }

.back a{
  
  text-decoration: none;
  color: #1f2430;
  font-size: 1.2em;
  line-height:1.2em;
  left: 50px;
  text-align:center ;
  
  }

/* Form desktop ends here */
}